<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tgw360.dao.master.UserDao">
    <resultMap id="BaseResultMap" type="com.tgw360.domain.User">
        <result column="id" property="id" />
        <result column="created_at" property="createdAt" />
        <result column="email" property="email" />
        <result column="first_name" property="firstName" />
        <result column="last_name" property="lastName" />
        <result column="account_id" property="accountId" />
        <result column="local_date_time" property="localDateTime" />

    </resultMap>


    <select id="findByAccountId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select *
        from t_user
        where account_id = #{id}
    </select>
    <select id="findAll" resultMap="BaseResultMap">
        select *
        from t_user
    </select>

</mapper>